html, body {
    height: 100%;
    align: center;

}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #444444;
    margin: auto;
    justify-content: space-evenly;
    width: 80%;
    height: 100px;
}

header nav a{
    text-decoration: none;
    color: #6A6A6A;
    font-family: Arial;
    cursor: pointer;
}













footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #444444;
    width: 80%;
    height: 100px;
}